In [54]:
"""
pandas 데이터 입출력

pandas는 CSV(Comman Separated Value)를 포함한
다양한 포맷의 데이터 파일을 읽어 직접 데이터프레임을 만들 수 있다.
pandas 입출력 가능한 포맷의 종류는 다음과 같다.

CSV
Clipboard
Excel
JSON
HTML
Python Pickling
Feather
Msgpack
HDF5
SAS
STATA
SQL
Google BigQuery
여기에서는 가장 단순하지만 널리 사용되는 CSV 포맷 입출력에 대해 살펴본다.
CSV 파일 포맷은 값들이 comma로 구분되는 텍스트 파일이다.
"""

'\npandas 데이터 입출력\n\npandas는 CSV(Comman Separated Value)를 포함한\n다양한 포맷의 데이터 파일을 읽어 직접 데이터프레임을 만들 수 있다.\npandas 입출력 가능한 포맷의 종류는 다음과 같다.\n\nCSV\nClipboard\nExcel\nJSON\nHTML\nPython Pickling\nFeather\nMsgpack\nHDF5\nSAS\nSTATA\nSQL\nGoogle BigQuery\n여기에서는 가장 단순하지만 널리 사용되는 CSV 포맷 입출력에 대해 살펴본다.\nCSV 파일 포맷은 값들이 comma로 구분되는 텍스트 파일이다.\n'

In [6]:
# %%ritefile : magic command
%%writefile data/sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing data/sample1.csv

In [8]:
import pandas as pd
# pandas.from_csv(), pandas.read_csv() : csv파일 불러오기
pd.read_csv("data/sample1.csv")

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>c1</th>
      <th>c2</th>
      <th>c3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1.11</td>
      <td>one</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>2.22</td>
      <td>two</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>3.33</td>
      <td>three</td>
    </tr>
  </tbody>
</table>
</div>