In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import scipy as sp

In [8]:
# making series
s = pd.Series(np.arange(1, 5))
s[4] = np.nan
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [12]:
# 결측값, 실측값을 다른 값으로 교체하기 : replace(old_val, new_val)
# 데이터값 2를 20으로 교체, 결측치를 5로 교체
s.replace([2, np.nan], [20, 5])

0     1.0
1    20.0
2     3.0
3     4.0
4     5.0
dtype: float64

In [14]:
# using dict
s.replace({
    1: 4, 2: 7, 3: 10, 4: 5, np.nan: 10
})

0     4.0
1     7.0
2    10.0
3     5.0
4    10.0
dtype: float64

In [16]:
# DataFrame의 특정 칼럼 값 교체하기 
# df.replace({'col1': old_val}, {'col1': new_val})
df = pd.DataFrame({'C1': ['a_old', 'b', 'c', 'd', 'e'],
                'C2': [1, 2, 3, 4, 5],
                'C3': [6, 7, 8, 9, np.nan]})
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>C1</th>
      <th>C2</th>
      <th>C3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a_old</td>
      <td>1</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b</td>
      <td>2</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>c</td>
      <td>3</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>d</td>
      <td>4</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>e</td>
      <td>5</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
df.replace({"C1": "a_old", "C3": np.nan}, {"C1": "a_new", "C3": 10})

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>C1</th>
      <th>C2</th>
      <th>C3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a_new</td>
      <td>1</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b</td>
      <td>2</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>c</td>
      <td>3</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>d</td>
      <td>4</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>e</td>
      <td>5</td>
      <td>10.0</td>
    </tr>
  </tbody>
</table>
</div>