In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import scipy as sp

In [5]:
# making df
data = {
    "key1": ["a", "b", "b", "c", "c"],
    "key2": ["v", "w", "w", "x", "y"],
    "value": [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data, columns=["key1", "key2", "value"])
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>key1</th>
      <th>key2</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>v</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b</td>
      <td>w</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>b</td>
      <td>w</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>c</td>
      <td>x</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>c</td>
      <td>y</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
# 중복 데이터가 있는지 확인하기 : DataFrame.duplicated()
# 중복이 있다면 첫번째가 아닌 그 다음의 값들이 True로 return
# keep="first" default

# key1 기준
print(df.duplicated(["key1"]))

# key1, key2 기준
print(df.duplicated(["key1", "key2"]))

0    False
1    False
2     True
3    False
4     True
dtype: bool
0    False
1    False
2     True
3    False
4    False
dtype: bool

In [12]:
# keep=last : 첫번쨰 중복된 값을 True로 return
# key1 기준
print(df.duplicated(["key1"], keep="last"))

# key1, key2 기준
print(df.duplicated(["key1", "key2"], keep="last"))

0    False
1     True
2    False
3     True
4    False
dtype: bool
0    False
1     True
2    False
3    False
4    False
dtype: bool

In [13]:
# keep=False : 중복된 값들이면 무조건 True로 return
# key1 기준
print(df.duplicated(["key1"], keep=False))

# key1, key2 기준
print(df.duplicated(["key1", "key2"], keep=False))

0    False
1     True
2     True
3     True
4     True
dtype: bool
0    False
1     True
2     True
3    False
4    False
dtype: bool

In [18]:
# 중복값 처리(unique한 1개의 key만 남기고 나머지 중복은 제거) 
# DataFrame.drop_duplicates()
print(df)

# key1 기준 keep="first" : 첫번째 중복값 이외의 중복값들은 제거
print(df.drop_duplicates(["key1"], keep="first"))

# key1 기준 keep="last" : 마지막 중복값만 남기기
print(df.drop_duplicates(["key1"], keep="last"))

# key1 기준 keep=False : 중복된 값들은 남기지 않고 전부 제거
print(df.drop_duplicates(["key1"], keep=False))

  key1 key2  value
0    a    v      1
1    b    w      2
2    b    w      3
3    c    x      4
4    c    y      5
  key1 key2  value
0    a    v      1
1    b    w      2
3    c    x      4
  key1 key2  value
0    a    v      1
2    b    w      3
4    c    y      5
  key1 key2  value
0    a    v      1