In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import scipy as sp

In [12]:
# making time series
datestr = ["08/08/2017", "08/10/2017", "08/11/2017", "08/17/2017"]
idx = pd.to_datetime(datestr)
ts = pd.Series([1, np.nan, np.nan, 10], index=idx)
ts

2017-08-08     1.0
2017-08-10     NaN
2017-08-11     NaN
2017-08-17    10.0
dtype: float64

In [24]:
# 시계열데이터의 값에 선형으로 비례하는 방식으로 결측값 보간
# (interpolate TimeSeries missing values linearly) 
# ts.interpolate()
ts1 = ts.interpolate()
ts1

2017-08-08     1.0
2017-08-10     4.0
2017-08-11     7.0
2017-08-17    10.0
dtype: float64

In [17]:
# 시계열 날짜 index 기준으로 결측값 보간
# method="time"
ts2 = ts.interpolate(method="time")
ts2

2017-08-08     1.0
2017-08-10     3.0
2017-08-11     4.0
2017-08-17    10.0
dtype: float64

In [25]:
# making df
df = pd.DataFrame({'C1': [1, 2, np.nan, np.nan, 5],
                   'C2': [6, 8, 10, np.nan, 20]})
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>C1</th>
      <th>C2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>20.0</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
# DataFrame 값에 선형으로 비례하는 방식으로 결측값 보간
# default : method="values"
# 보간 개수 제한 : limit
# 보간 방향 : limit_direction = [both, forward, backward]
df1 = df.interpolate(method="values", limit=1,
                     limit_direction="backward")
df1

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>C1</th>
      <th>C2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NaN</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.0</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>20.0</td>
    </tr>
  </tbody>
</table>
</div>