In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import scipy as sp

In [9]:
# making df
df = pd.DataFrame({'A': ['A1', 'A1', 'A2', 'A2', 'A3', 'A3'],
                   'B': ['B1', 'B1', 'B1', 'B1', 'B2', np.nan],
                   'C': [1, 1, 3, 4, 4, 4]})

df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A1</td>
      <td>B1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A1</td>
      <td>B1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A2</td>
      <td>B1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>A2</td>
      <td>B1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>A3</td>
      <td>B2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>A3</td>
      <td>NaN</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
# 유일한 값 찾기 : pd.Series.unique()

# A컬럼의 unique값 찾기
print(df.loc[:, "A"].unique())

# B컬럼의 unique값 찾기
print(df.loc[:, "B"].unique()) # NaN값도 unique로 포함된다.

['A1' 'A2' 'A3']
['B1' 'B2' nan]

In [16]:
# 유일한 값별로 개수 세기 : pd.Series.value_counts()
"""
pd.Series.value_counts(

normalize=False, 
# False면 개수, True면 상대 비율 구함

sort=True, 
# True면 개수 기준 정렬, False면 유일한 값 기준 정렬

ascending=False, 
# False면 내림차순 정렬, True면 오름차순 정렬

bins=None, 
# None이면 유일값 기준 개수, None아니면 Bins Group별 개수

dropna=True 
# True면 NaN 무시, False면 유일값에 NaN 포함
)




"""

In [23]:
# A컬럼 데이터별 빈도수 세기
print(df.loc[:, "A"].value_counts())

# B컬럼 데이터별 빈도수 세기
print(df.loc[:, "B"].value_counts())
# unique값에는 NaN이 포함되어 있지만 빈도수를 셀 경우에는 포함하지 않음

A2    2
A3    2
A1    2
Name: A, dtype: int64
B1    4
B2    1
Name: B, dtype: int64

In [24]:
# 유일 값 별 상대적 비율 : pd.Series.value_counts(normalize=True)
# C컬럼 데이터별 상대적 비율 구하기
print(df.loc[:, "C"].value_counts(normalize=True))

# B컬럼 데이터별 상대적 비율 구하기
print(df.loc[:, "B"].value_counts(normalize=True))

4    0.500000
1    0.333333
3    0.166667
Name: C, dtype: float64
B1    0.8
B2    0.2
Name: B, dtype: float64

In [35]:
# 유일한 값 기준 정렬 : pd.Series.value_counts(sort=True, ascending=True)
print(df)

# sort=T , ascending=F : default : 내림차순
print(df["C"].value_counts(sort=True, ascending=False))

# sort=T , ascending=T : 오름차순
print(df["C"].value_counts(sort=True, ascending=True))

# sort=F : 데이터 값 대로 오름차순
print(df["C"].value_counts(sort=False))

    A    B  C
0  A1   B1  1
1  A1   B1  1
2  A2   B1  3
3  A2   B1  4
4  A3   B2  4
5  A3  NaN  4
4    3
1    2
3    1
Name: C, dtype: int64
3    1
1    2
4    3
Name: C, dtype: int64
1    2
3    1
4    3
Name: C, dtype: int64

In [36]:
# 결측값을 유일한 값에 포함할지 여부 : pd.Series.value_counts(dropna=True)
print(df["B"].value_counts(dropna=True)) # default
print(df["B"].value_counts(dropna=False)) # 결측치 포함

B1    4
B2    1
Name: B, dtype: int64
B1     4
B2     1
NaN    1
Name: B, dtype: int64

In [55]:
# Bins Group별 값 개수 세기 : pd.Series.value_counts(bins=[ , , ,])
# 오직 숫자데이터만 사용 가능

print(df)

print(df["C"].value_counts(bins=[0, 1, 2, 3, 4, 5], sort=False))

    A    B  C
0  A1   B1  1
1  A1   B1  1
2  A2   B1  3
3  A2   B1  4
4  A3   B2  4
5  A3  NaN  4
(-0.001, 1.0]    2
(1.0, 2.0]       0
(2.0, 3.0]       1
(3.0, 4.0]       3
(4.0, 5.0]       0
Name: C, dtype: int64

In [69]:
# pd.cut(series, bins=[]) 사용
out = pd.cut(df["C"], bins=[0, 1, 2, 3, 4, 5])
print(out)
print(pd.value_counts(out, sort=False))

0    (0, 1]
1    (0, 1]
2    (2, 3]
3    (3, 4]
4    (3, 4]
5    (3, 4]
Name: C, dtype: category
Categories (5, interval[int64]): [(0, 1] < (1, 2] < (2, 3] < (3, 4] < (4, 5]]
(0, 1]    2
(1, 2]    0
(2, 3]    1
(3, 4]    3
(4, 5]    0
Name: C, dtype: int64